.item1{
	display: inline-block;
	width: 300px;
	height: 200px;
}
.gr1{
	background: #fffe00;
	background: -moz-linear-gradient(-45deg, #ff6e02 0%,#fffe00 50%,#ff6e02 100%);
	background: -webkit-linear-gradient(-45deg, #ff6e02 0%,#fffe00 50%,#ff6e02 100%);
	background: linear-gradient(-45deg, #ff6e02 0%,#fffe00 50%,#ff6e02 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffe00', endColorstr='#ff6e02',GradientType=0 );
}
.gr2{
	background: #ff7c00;
	background: -moz-radial-gradient(circle closest-side, #290a59 10%,#ff7c00 100%);
	background: -webkit-radial-gradient(circle closest-side, #290a59 10%,#ff7c00 100%);
	background: radial-gradient(circle closest-side, #290a59 10%,#ff7c00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#290a59', endColorstr='#ff7c00',GradientType=1 );
}
.item2{
	display: block;
	width: 150px;
	height: 100px;
	margin:50px auto;
	background: #00BCD4;
}
.item2:hover{
	-moz-transform:scale(2);
	-webkit-transform:scale(2);
	-ms-transform:scale(2);
	transform:scale(2);
}
.item3 {
	text-align: center;
	width: 320px;
	margin: 20px auto;
	-webkit-perspective: 1200;
	perspective: 1200;
	-moz-transform: perspective(1200px);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d; 
	transform-style: preserve-3d;
}
.flipper {
	position: relative;
	width: 320px;
	height: 200px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: 5s linear;
	-moz-transition: 5s linear;
	-o-transition: 5s linear;
	transition: 5s linear;
	box-shadow: -1px 1px 1px #000;
} 
.fronts, .backs {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;	
	padding: 40px 20px 20px;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.fronts {
	z-index: 2;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
	background: #159025;
	background: -moz-linear-gradient(#159025 0%,#2bff00 50%,#159025 100%);
	background: -webkit-linear-gradient(#159025 0%,#2bff00 50%,#159025 100%);
	background: linear-gradient(#159025 0%,#2bff00 50%,#159025 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#159025', endColorstr='#2bff00',GradientType=0 );
	border: 5px ridge #159025;
}
.backs {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	background: #159025;
	background: -moz-repeating-linear-gradient(90deg, #9E9E9E 1px,#e0eade 2px, #c9cfc7 20px,#e0eade 2px,#c1bfbf 1px, #796b6b 2px);
	background: -webkit-repeating-linear-gradient(90deg, #9E9E9E 1px,#e0eade 2px, #c9cfc7 20px,#e0eade 2px,#c1bfbf 1px, #796b6b 2px);
	background: repeating-linear-gradient(90deg, #9E9E9E 1px,#e0eade 2px, #c9cfc7 20px,#e0eade 2px,#c1bfbf 1px, #796b6b 2px);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9E9E9E', endColorstr='#c9cfc7',GradientType=0 );
	/*background-image: url(http://png.clipart.me/graphics/thumbs/175/vector-background-of-white-wooden-texture_175659863.jpg);*/
	border: 5px ridge #fafafa;
}
.item3:hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}